.blogitem{
    margin-bottom: 2%;
    &--name{
        color: white;
        font-weight: 600;
        text-align: center;
    }
    &--list{
        margin: 0 auto; 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: 20px;
    }
}