.banner{
    width: 100%;
    display: flex;
    justify-content: center;
    &--box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
        &--left{
            display: flex;
            justify-content: center;
            width: 800px;
            max-height: 400px;
            overflow: hidden;
            img{
                width: 600px;
                object-fit: cover;
                
            }
        }
        &--right{
            width: 400px;
            display: flex;
            justify-content: center;
            align-items: center;
           span{
            padding: 8px;
            color: red;
            border: 1px solid red;
            border-radius: 4px;
            cursor: pointer;
           }
        }
    }
}
.drawer-bn{
        width: 60%;
       padding: 0 10%;

   &--image{
    margin: 20px 10px;
    &--img{
        padding: 8px 20px;
        background-color: black;
         color: white;
        border-radius: 8px;
        cursor: pointer;

        }
   }
   &--btn{
    width: 96%;
    button{
        width: 100%;
        background-color: black;
        color: white;
        padding: 4px 0;
        font-weight: 600;
        border-radius: 8px;
        &:hover{
            opacity: 0.8;
        }
    }
   }
}